    /* This example is a modified version of the Swipe Demo on the JQuery Mobile Page
    http://jquerymobile.com/demos/1.3.0-beta.1/docs/demos/swipe/newyork.html */



        /* Transparent footer */x`
        .ui-footer {
            background: none;
            border: none;
        }
        /* The footer won't have a height because there are only two absolute positioned elements in it.
        So we position the buttons from the bottom. */
        .control.ui-btn-left, .trivia-btn.ui-btn-right {
            top: auto;
            bottom: 7px;
            margin: 0;
        }
        /* Custom styling for the trivia source */
        small {
            font-size: .75em;
            color: #666;
        }
        /* Prevent text selection while swiping with mouse */
        .ui-header, .ui-title, .control .ui-btn, .trivia-btn {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .ui-btn {
           /* position: absolute;*/
        }

        .start {
            margin-top: 350px;
        }

        .cats {
            margin-top: 100px;
        }

		.icons {
			position: absolute;
			top: 50%;
			left: 50%;
			width:100px;
			height:100px;
			margin-top: -50px; /* Half the height */
			margin-left: -50px; /* Half the width */
		}
		.pancakes {
			background-image: url('../img/pancakes.png');
		}

		.bacon {
			background-image: url('../img/bacon.png');
		}